.slick-dots {
    bottom: -30px;
}

.slick-dots li button:before {
    font-size: 12px;
    color: white; /* Change this to your desired color */
}

.slick-dots li.slick-active button:before {
    color: yellow; /* Change this to your desired active color */
}

.slick-prev:before,
.slick-next:before {
    color: white; /* Change this to your desired color */
}

.gallery-container {
    background-color: black; /* Adjust if needed */
    padding: 20px;
}

.gallery-item {
    background-color: #333; /* Adjust for item background */
    color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}

.gallery-item img {
    border-radius: 8px;
}
